@charset "utf-8";
/* 
※このファイルは基本的に編集しないこと。他のCSSで設定上書きでの対処を推奨。
==================================================================================================== */
html, body, 
/* Flow Contents */
div, header, footer, main, p, pre, blockquote, address, 
dl, dt, dd, ol, ul, li, menu, form, fieldset, legend, 
table, caption, tbody, thead, tfoot, tr, th, td, figure, figcaption, 
/* Sectioning Contents */ 
article, aside, nav, section, 
/* Heading Contents */
h1, h2, h3, h4, h5, h6, 
/* Phrasing Contents */
span, object, iframe, img, label, 
abbr, code, del, dfn, em, ins, kbd, q, cite, samp, small, strong, sub, sup, var, 
b, i, canvas, time, mark, audio, video, 
/* Interactive Contents */
details, summary 
{
	margin:0; padding:0;
	border:0; outline:0;
	vertical-align:baseline;
	background:transparent;
	font-size:100%;
}
body {
	font:12px/1.5 "Helvetica Neue",Helvetica,Arial,Roboto,"Droid Sans","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Meiryo,"メイリオ","ＭＳ Ｐゴシック",sans-serif;
	-webkit-text-size-adjust:100%; /* 画面回転時の自動文字サイズ調整機能OFF */
}
@media print {
	body { -webkit-print-color-adjust:exact; /* 印刷時の背景印刷 */ }
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section { display:block; }
img {
	vertical-align:top;
	-ms-interpolation-mode:bicubic; /* IE系での画像リサイズ時のリサンプリング設定 */
}
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:""; content:none; }
a {
	margin:0; padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
a:link { text-decoration:underline; }
a:hover { text-decoration:none; }
a:focus { outline:none; }
ins { color:#000; background-color:#ff9; text-decoration:none; }
mark {
	color:#000;
	background-color:#ff9;
	font-style:italic;
	font-weight:bold;
}
del { text-decoration:line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
hr {
	margin:1em 0; padding:0;
	border:0;
	border-top:1px solid #ccc;
	display:block;
	height:1px;
}
table { border-collapse:collapse; border-spacing:0; }
input, select { vertical-align:middle; font-size:100%; }
textarea, button { font-size:100%; }
input, button, textarea, select, option { font-family:"Helvetica Neue",Helvetica,Arial,Roboto,"Droid Sans","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Meiryo,"メイリオ","ＭＳ Ｐゴシック",sans-serif; }
pre, code, kbd, samp, tt { font-family:monospace; }
sub, sup {
	margin:0; padding:0;
	border:0; outline:0;
	position:relative;
	font-size:75%;
}
sup { top:-0.3em; }
sub { bottom:-0.1em; }
