<?php $rootpass = '../'; include($rootpass.'common/include.php'); ?>
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>コラム | Beauty Post</title>
<meta name="description" content="">
<meta name="keywords" content="">
<?php echo headContent(); ?>
<?php echo headContent_css('content'); ?>
</head>
<!-- 
#################################################################################################### -->
<body id="pagetop" class="page-column">
<?php echo gtm(); ?>
<div class="menu-overlay">&#8203;</div>
<div id="wrapper"><div id="wrap-inner">
<!-- 
====================================================================================================
 Column Header                                                                       #column-header 
==================================================================================================== -->
<header id="column-header">
	<div class="layout">
		<h1><a href="./">Beauty Post <span>美活コラム</span></a></h1>
	</div>
</header><!-- /#column-header -->
<!-- 
====================================================================================================
 Contents                                                                                #page-area 
==================================================================================================== -->
<div id="page-area">
	<div class="layout">
		
		<div id="main-area" class="layout-main layout-l">
			<article class="column-entry">
				<div class="section-body">
					<header class="column-entryhead">
						<p class="column-entrydate fll">2015/15/85</p>
						<p class="column-entryview flr">123,456 views</p>
						<h2 class="column-entrytitle">タイトルタイトルタイトル</h2>
						
						<div class="column-entryinfo">
							<div class="column-entrycategory"><i class="fa fa-folder-open-o"></i> <a href="./list.html">カテゴリ</a></div>
							<div class="column-entrysns">SNS</div>
						</div><!-- /.column-entryinfo -->
					</header>
					<div class="column-entrybody">
						<div class="column-eyecatch">
							<img src="http://lorempixel.com/400/300/people/1" alt="" class="fitimg-w">
						</div>
						<div class="column-entrylead">
							リード文章が入りますリード文章が入りますリード文章が入りますリード文章が入りますリード文章が入りますリード文章が入りますリード文章が入りますリード文章が入りますリード文章が入りますリード文章が入ります
						</div>
						<div class="column-entrytxt">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ex, consectetur. Molestiae id explicabo atque est voluptates obcaecati eaque sed, rem eius maxime, sit accusantium! Fuga culpa aspernatur, ducimus cum!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quos consequuntur voluptates inventore, quam qui tempore dolor nihil debitis quod nostrum cumque officiis, tempora provident animi ducimus vitae eum veniam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima molestiae distinctio sint obcaecati corporis itaque deleniti voluptatum eos enim. Voluptatum earum nulla numquam necessitatibus pariatur iure amet voluptates facere magnam.</p>
						</div><!-- /.column-entrytxt -->
					</div>
				</div><!-- /.section-body -->
				
				<div class="column-boxfoot">
					<div class="column-entryinfo">
						<div class="column-entrycategory"><i class="fa fa-folder-open-o"></i> <a href="./list.html">カテゴリ</a></div>
						<div class="column-entrysns">SNS</div>
					</div><!-- /.column-entryinfo -->
				</div><!-- /.column-boxfoot -->
			</article><!-- /.column-entry -->
			
			<div class="container">
				<nav class="column-pagination pg-list">
					<ul>
						<li class="nav-prev"><a href="#"><span class="rsp-xxoo">Prev</span></a></li>
						<li class="nav-back"><a href="./list.html">一覧へ戻る</a></li>
						<li class="nav-next"><a href="#"><span class="rsp-xxoo">Next</span></a></li>
					</ul>
				</nav><!-- /.pagination -->
			</div>
		</div><!-- /#main-area -->
		
		<aside id="column-sub" class="layout-sub layout-r">
			<section class="column-famous container">
				<h2 class="column-sidehead">人気のコラムランキング</h2>
				<div class="section-body">
					<nav>
						<ul>
							<li>
								<a href="./detail.html">
									<img src="<?php echo WEBROOT; ?>common-img/ico-key01.png" width="64" height="64" class="rank" alt="1">
									<span class="column-entryview">100,999 views</span>
									<span class="entry-title">タイトルタイトルタイトルタイトルタイトルタイトル</span>
								</a>
							</li>
							<li>
								<a href="./detail.html">
									<img src="<?php echo WEBROOT; ?>common-img/ico-key02.png" width="64" height="64" class="rank" alt="2">
									<span class="column-entryview">100,999 views</span>
									<span class="entry-title">タイトルタイトルタイトルタイトルタイトルタイトル</span>
								</a>
							</li>
							<li>
								<a href="./detail.html">
									<img src="<?php echo WEBROOT; ?>common-img/ico-key03.png" width="64" height="64" class="rank" alt="3">
									<span class="column-entryview">100,999 views</span>
									<span class="entry-title">タイトルタイトルタイトルタイトルタイトルタイトル</span>
								</a>
							</li>
							<li>
								<a href="./detail.html">
									<img src="<?php echo WEBROOT; ?>common-img/ico-key04.png" width="64" height="64" class="rank" alt="4">
									<span class="column-entryview">100,999 views</span>
									<span class="entry-title">タイトルタイトルタイトルタイトルタイトルタイトル</span>
								</a>
							</li>
							<li>
								<a href="./detail.html">
									<img src="<?php echo WEBROOT; ?>common-img/ico-key05.png" width="64" height="64" class="rank" alt="5">
									<span class="column-entryview">100,999 views</span>
									<span class="entry-title">タイトルタイトルタイトルタイトルタイトルタイトル</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</section>
			
			<section class="column-recent container">
				<h2 class="column-sidehead">新着コラム</h2>
				<div class="section-body">
					<nav>
						<ul>
							<li>
								<a href="./detail.html">
									<span class="column-entrydate">2015/12/66</span>
									<span class="entry-title">タイトルタイトルタイトルタイトルタイトルタイトル</span>
								</a>
							</li>
							<li>
								<a href="./detail.html">
									<span class="column-entrydate">2015/12/66</span>
									<span class="entry-title">タイトルタイトルタイトルタイトルタイトルタイトル</span>
								</a>
							</li>
							<li>
								<a href="./detail.html">
									<span class="column-entrydate">2015/12/66</span>
									<span class="entry-title">タイトルタイトルタイトルタイトルタイトルタイトル</span>
								</a>
							</li>
							<li>
								<a href="./detail.html">
									<span class="column-entrydate">2015/12/66</span>
									<span class="entry-title">タイトルタイトルタイトルタイトルタイトルタイトル</span>
								</a>
							</li>
							<li>
								<a href="./detail.html">
									<span class="column-entrydate">2015/12/66</span>
									<span class="entry-title">タイトルタイトルタイトルタイトルタイトルタイトル</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</section>
			
			<section class="column-category container">
				<h2 class="column-sidehead">カテゴリ</h2>
				<div class="section-body">
					<nav>
						<ul>
							<li><a href="./list.html">カテゴリ1</a></li>
							<li><a href="./list.html">カテゴリ2</a></li>
							<li><a href="./list.html">カテゴリ3</a></li>
							<li><a href="./list.html">カテゴリ4</a></li>
						</ul>
					</nav>
				</div>
			</section>
			
			<div class="column-bnr">
				<a href="<?php echo WEBROOT; ?>"><img src="<?php echo WEBROOT; ?>common-img/logo.png" class="fitimg-w" alt="美容機器コレクション Beauty Post"></a>
			</div>
		</aside><!-- /#column-sub -->
	</div>
</div><!-- /#page-area -->
<!-- 
====================================================================================================
 Column Footer                                                                       #column-footer 
==================================================================================================== -->
<footer id="column-footer">
	<div class="layout">
		<nav id="column-fnav">
			<ul>
				<li><a href=""><i class="fa fa-home">&#8203;</i> ホーム</a></li>
				<li><a href=""><i class="fa fa-pencil">&#8203;</i> ライター募集</a></li>
				<li><a href=""><i class="fa fa-building">&#8203;</i> 運営者会社</a></li>
				<li><a href=""><i class="fa fa-envelope-o">&#8203;</i> お問い合わせ</a></li>
			</ul>
		</nav><!-- /#column-fnav -->
	</div>
	<div id="column-copyright">
		<div class="layout"><p><small>Copyright 2015 Beauty Post. All Rights Reserved.</small></p></div>
	</div><!-- /#copyright -->
</footer><!-- /#column-footer -->
<!-- 
==================================================================================================== -->
</div></div><!-- /#wrapper>/#wrap-inner -->
<?php echo lastContent(); ?>
</body>
</html>
