<?php $rootpass = '../'; include($rootpass.'common/include.php'); ?>
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>コラム | Beauty Post</title>
<meta name="description" content="">
<meta name="keywords" content="">
<?php echo headContent(); ?>
<?php echo headContent_css('content'); ?>
</head>
<!--
#################################################################################################### -->
<body id="pagetop" class="page-column">
<?php echo gtm(); ?>
<div class="menu-overlay">&#8203;</div>
<div id="wrapper"><div id="wrap-inner">
<!--
====================================================================================================
 Column Header                                                                       #column-header
==================================================================================================== -->
<header id="column-header">
	<div class="layout">
		<h1><a href="<?php echo WEBROOT?>">Beauty Post <span>美活コラム</span></a></h1>
	</div>
</header><!-- /#column-header -->
<!--
====================================================================================================
 Contents                                                                                #page-area
==================================================================================================== -->
<div id="page-area">
	<div class="layout">

		<div id="main-area" class="layout-main layout-l">
			<h2 class="column-head">カテゴリー名称が入ります</h2>


    <?php foreach($Columns as $k => $v):?>



			<section class="column-entry">
				<div class="section-body">
					<header>
						<p class="column-entrydate fll">$v['Column']['created']?></p>
						<p class="column-entryview flr"><?php echo $v['Column']['count']?> views</p>
						<h2 class="column-entrytitle"><a href="./detail.html"><?php echo $v['Column']['title']?></a></h2>
					</header>
					<div class="column-entrybody">
						<div class="column-eyecatch">
							<img src="http://lorempixel.com/400/300/people/1" alt="" class="fitimg-w">
						</div>
						<div class="column-entrylead">
							<?php echo $v['Column']['comment']?>
						</div>
						<p class="column-viewmore">
							<a href="<?php echo WEBROOT.$this->name?>detail/?id=<?php echo $v['Column']['id']?>">続きを読む <i class="fa fa-angle-double-right">&#8203;</i></a>
						</p>
					</div>
				</div><!-- /.section-body -->

				<div class="column-boxfoot">
					<div class="column-entryinfo">
						<div class="column-entrycategory">
						<i class="fa fa-folder-open-o"></i> <a href="#">カテゴリ</a>
						</div>
						<div class="column-entrysns">SNS</div>
					</div><!-- /.column-entryinfo -->
				</div><!-- /.column-boxfoot -->
			</section><!-- /.column-entry -->

    <?php endforeach;?>



			<div class="container">
				<nav class="column-pagination pg-list">
					<ul>
						<li class="nav-prev"><a href="#"><span class="rsp-xxoo">Prev</span></a></li>
						<li>
							<ol>
								<li class="sp-hide"><a href="#">1</a></li>
								<li class="sp-hide">…</li>
								<li><a href="#">498</a></li>
								<li><a href="#">499</a></li>
								<li class="nav-now">500</li>
								<li><a href="#">501</a></li>
								<li><a href="#">502</a></li>
								<li class="sp-hide">…</li>
								<li class="sp-hide"><a href="#">999</a></li>
							</ol>
						</li>
						<li class="nav-next"><a href="#"><span class="rsp-xxoo">Next</span></a></li>
					</ul>
				</nav><!-- /.pagination -->
			</div>
		</div><!-- /#main-area -->


    <?php echo $this->element('common/cmnSubContentColumn'); ?>


	</div>
</div><!-- /#page-area -->
<!--
====================================================================================================
 Column Footer                                                                       #column-footer
==================================================================================================== -->
<footer id="column-footer">
	<div class="layout">
		<nav id="column-fnav">
			<ul>
				<li><a href=""><i class="fa fa-home">&#8203;</i> ホーム</a></li>
				<li><a href=""><i class="fa fa-pencil">&#8203;</i> ライター募集</a></li>
				<li><a href=""><i class="fa fa-building">&#8203;</i> 運営者会社</a></li>
				<li><a href=""><i class="fa fa-envelope-o">&#8203;</i> お問い合わせ</a></li>
			</ul>
		</nav><!-- /#column-fnav -->
	</div>
	<div id="column-copyright">
		<div class="layout"><p><small>Copyright 2015 Beauty Post. All Rights Reserved.</small></p></div>
	</div><!-- /#copyright -->
</footer><!-- /#column-footer -->
<!--
==================================================================================================== -->
</div></div><!-- /#wrapper>/#wrap-inner -->
<?php echo lastContent(); ?>
</body>
</html>
