@charset "utf-8";

// -------------------------------------------------------------------------------------------------
// Compass SVGサポートをする
// -------------------------------------------------------------------------------------------------
$experimental-support-for-svg: true;
	
// -------------------------------------------------------------------------------------------------
// FLAG: クラス名の命名基準にハイフンを使う [ true:ハイフン / false:アンダースコア ]
// -------------------------------------------------------------------------------------------------
$fhts-classname-hyphen: true;
	
	// クラスのセパレータ設定
	$-_: if($fhts-classname-hyphen, '-', '_') !default;
	
// -------------------------------------------------------------------------------------------------
// FLAG: フォント単位にremを使用する [ true:rem指定 / false:%指定 ]
// -------------------------------------------------------------------------------------------------
$fhts-font-size-rem: true;
	// 基準フォントサイズ（推奨10）
	$default-fz : 10;

// ブレイクポイント設定
$bpL:1024px; // サイズL  ※Tablet・PCの境界値
$bpM: 768px; // サイズM  ※SPヨコ・Tabletの境界値
$bpS: 480px; // サイズS  ※SPのタテ・ヨコの境界値

// 基準レイアウト幅・余白
$site-width: 1000;
$site-ps: 12;

$wMain: 720px;
$wSub: 250px;


// 最小ビューポート幅
$site-min-width: $site-width + ($site-ps * 2);

// 基準グリッドサイズ（推奨16）
$default-gz: 16;
